*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: black;
    height: 100vh;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
