.main-game{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    height: 650px;
    background-color: #162447;
    border-radius: 15px;
}
.main-game img{
    padding-top: 100px;
    width: 100%;
    max-width: 350px;
    max-height: 300px;
}
